{% extends "layout.html" %}

{% block title %}
    Detail
{% endblock %}

{% block main %}
    <h1>{{book['Book-Title']}}</h1>
    <hr>
    <form action="/search/detail" method="POST">
        <input type="hidden" name="productId" value="{{book.ISBN}}">
        <div>
            <img src="{{book['Image-URL-L']}}" alt="book['Book-Title']">
        </div>
        <p><b>Author</b>: {{book['Book-Author']}}</p>
        <p><b>Published by:</b> {{book['Publisher']}}</p>
        <p><b>Published in:</b> {{book['Year-Of-Publication']}}</p>
        <h2>$10</h2>
        <button class="btn btn-primary" type="submit">Add to Cart</button>
        <p class="warning" style="color: red"></p>
    </form>

    <script>
        const insufficient = '{{insufficient}}'
        if (insufficient === "True") {
            document.querySelector('.warning').innerHTML = 'Your balance is not enough to purchase this book. Please consider to topup!'
            document.querySelector('.btn').disabled = true
        }
    </script>
{% endblock %}