{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <div style="text-align: left">
        <b style="font-size:x-large">Your Balance: ${{amount}}</b>
    </div>
    <hr>
    <div style="text-align: left">
        <b style="font-size:x-large">Top Rating</b>
            {% for book in topBooks %}
            <div>
                <img src="{{book['Image-URL-M']}}" alt="book['Book-Title']">
                <p><b>{{book['Book-Title']}}</b></p>
            </div>
            {% endfor %}
            <!-- <ul>
                {% for book in topBooks %}
                    <li>
                        {{book['Book-Title']}}                        
                    </li>
                {% endfor %}
            </ul> -->
    </div>
    <hr>

    <div style="text-align: left">
        <b style="font-size:x-large">Because you put to your cart</b>
    </div>
{% endblock %}