{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <!-- <script defer src="static/scri pt.js"></script> -->
    <form id="form" action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <!-- <p class="errorName">
            <ul style="color: red;">
                {% for row in errorMessageName %}
                    <li>{{ row }}</li>
                {% endfor %}
            </ul>
        </p> -->
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <!-- <p class="errorPwd" style="color: red">
            <p class="errorName">
                <ul style="color: red;">
                    {% for row in errorMessagePwd %}
                        <li>{{ row }}</li>
                    {% endfor %}
                </ul>
            </p> -->
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <script>

    </script>
{% endblock %}