{% extends "userLayout.html" %}

{% block title %}
    Topup
{% endblock %}

{% block main %}
    <h1>Topup Request</h1>
    <form action="/user/topup" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="amount" placeholder="$" type="number">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Your Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
        <p class="errorMsg" style="color: red">{{ message }}</p>
    </form>
{% endblock %}